/*nice color: #80a381*/

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none; */
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* nav-oldbar */

/*  */

.nav-old-links {
    /* width: 100%; padding: 10px; position: absolute; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-old-links.black {
    background-color: white;
    border-bottom: 0.5px solid grey;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
}

.nav-old-links>* {
    text-decoration: none;
    padding: 5px;
    margin-right: 15px;
}

.nav-old-link {
    color: white;
    cursor: pointer;
}

.nav-old-item.black {
    color: #484848;
}

.nav-old-item {
    color: white;
}

.nav-old-link.black {
    color: #484848;
}

/* .nav-old-link:hover { */

/* color:#ff5a5f; */

/*text-decoration: text-decoration-line text-decoration-color text-decoration-style|initial|inherit; */

/* text-decoration: underline white solid; */

/* } */

.nav-old-item {
    position: relative;
}

.nav-old-link:hover::after {
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    left: 0;
    top: 105%;
    width: 100%;
}

.nav-old-link.black:hover::after {
    content: '';
}

.nav-old-item-user-img-container {
    display: none;
}

.nav-old-item-user-img-container.visible {
    display: block;
    width: 50px;
    height: 50px;
    /* position: absolute; */
    background-color: white;
    border-radius: 50%;
}

/* .nav-old-item-user-img-container.requests {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin: 0 30px;
} */

img.nav-old-item-user-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: 24px;
}

span.nav-old-item-user-name {
    color: white;
    font-size: 0.75rem;
    margin-left: 5px;
    margin-top: 5px;
}

.filter-buttons-container {
    height: 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: 0.5px solid gray;
    top: 80px;
    transition: 0.3s;
    margin-bottom: 40px;
    padding: 10px 20px;
}

/* .shown-filter-container {
    top: 80px;
    
} */

span.nav-old-item-user-name.black {
    color: #484848;
    font-size: 0.75rem;
    margin-left: 10%;
}

.form-loc {
    /* code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace; } */
    height: 47px;
    width: 100%;
    font-size: 17px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    /* margin-left: 85px; margin-top: 20px; */
}

.search-form {
    font-family: 'RobotoBold';
    position: absolute;
    width: 470px;
    height: 420px;
    top: 15vh;
    margin-left: 10vw;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 5px;
    padding: 20px 35px;
    font-size: 13px;
    letter-spacing: 1px;
    z-index: 1;
    color: gray;
    background-color: white;
}

.search-form-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.search-form::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px 5px 0 0;
    /* background-color: #fff; */
    height: 36px;
    /* width: 50px; */
    bottom: -47px;
    z-index: 11;
    width: 100%;
    left: 0px;
    opacity: .15;
    background-color: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Main Contant Container */

.lists-section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.reccomended-headline {
    margin-left: 24px;
    margin-top: 20px;
    font-family: RobotoBold;
    font-size: 1.3rem;
}

.search-form>* {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-input-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-cap {
    padding: 0;
}

.form-cap-control {
    width: 100px
}

.form-btn {
    align-self: flex-end;
    width: 100px;
    padding: 15px;
    color: white;
    background-color: #4caf50;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.05rem;
    font-weight: bold;
}

.form-btn:focus {
    outline: none;
}

.form-btn:hover {
    /* color: black; */
    background-color: #37983b;
    cursor: pointer;
}

.form-cap-num {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(48, 48, 48);
}

.form-num-btn:focus {
    outline: none;
}

.form-num-btn {
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    height: 26px;
    width: 26px;
    padding: 5px;
}

.form-num-btn.minus {
    padding: 4px;
}

.form-num-btn:hover {
    background-color: grey;
    color: white;
}

/* Login Page */

.login-form {
    margin-top: 125px;
    font-family: 'RobotoBold';
    position: absolute;
    width: 300px;
    height: 250px;
    top: 10vh;
    left: calc((100% - 300px)/2);
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    padding: 20px 35px;
    font-size: 13px;
    letter-spacing: 1px;
    z-index: 1;
    color: gray;
    background-color: white;
}

.login-form>*:first-child>* {
    margin-bottom: 10px;
}

.login-btn {
    width: 100%;
}

.login-question {
    display: flex;
    align-self: center;
    font-size: 20px;
    margin-top: 420px;
}

.sign-up {
    height: 400px;
    top: calc(10vh + 350px);
}

.sign-up>*:nth-child(4) {
    margin-bottom: 40px;
}

/* helpers */

.pointer {
    cursor: pointer;
}

/*flex-helpers*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-self {
    align-self: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

/*date-picker*/

input#start-date {
    font-size: 17px;
    text-align: center;
}

input#end-date {
    font-size: 17px;
    text-align: center;
}

.DateRangePickerInput__withBorder {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    border: 1px solid rgb(230, 230, 230);
    padding: 2px;
    width: 100%;
}

.DateInput {
    height: 40px;
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: calc(50% - 8px);
    vertical-align: middle;
}

.DateInput_input {
    margin-top: 9px;
    font-weight: 200;
    line-height: 14px;
    color: #484848;
    background-color: #fff;
    width: 100%;
    padding: 2px 18px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0;
}

/*remove later*/

.DateRangePickerInput_arrow_svg {
    fill: #484848;
    height: 16px;
    width: 16px;
}

/*Background image home page*/

img.index-cover {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/*Home page style definitions*/

.home {
    position: relative;
}

/*main-nav style*/

.main-nav {
    position: fixed;
}

.small-screen-show {
    display: none;
}

.small-screen-hide {
    display: block;
}

/* .logo.invisible {
    display: none;
} */

.reservedpage-content-container {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house-page-none-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-container {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reserved-container-none {
    padding-top: 125px;
}

.request-page-sub-container {
    padding-top: 125px;
}

.house-page-header {
    padding-top: 125px;
    font-family: RobotoBold;
    font-size: 1.3rem;
}

.house-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house-container.house-page {
    padding-top: 15px;
}

.house-container.my-houses {
    padding-top: 0px;
}

.empty-houses-container {
    padding-top: 15px;
}

@media only screen and (max-width: 700px) {
    .reccomended-headline {
        margin-left: calc((100% - 230px)/2);
        font-family: RobotoBold;
        font-size: 1.3rem;
    }
    .lists-section-container {
        width: 100vw;
        margin: 0px;
        /* margin-top: 10vh; */
        padding-left: calc((100vw - 348px)/2);
        padding-right: calc((100vw - 348px)/2);
    }
    .small-screen-show {
        display: block;
    }
    .small-screen-hide {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column;
        position: unset;
    }
    img.index-cover {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    .search-form {
        font-family: 'RobotoBold';
        position: unset;
        width: 100vw;
        height: 420px;
        border: none;
        border-radius: 0;
        border-bottom: 0.5px solid grey;
        padding: 17px 20px;
        font-size: 13px;
        letter-spacing: 1px;
        color: gray;
        background-color: white;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .search-form-title {
        position: absolute;
        top: 35vh;
        color: white;
        font-size: 2rem;
        width: 100%;
        left: 0px;
        padding: 0 20px;
        font-weight: unset;
    }
    h2.search-form-title {
        font-size: 1.2rem;
    }
    .nav-old-links.black {
        position: absolute;
    }
    ul.nav-old-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        height: 70vh;
        align-items: flex-start;
        opacity: 1;
        margin: 10px 15px;
        left: 0px;
        background-color: none;
        border-bottom: none;
    }
    .nav-old-link:hover::after {
        content: none;
    }
    .nav-old-link {
        color: #484848;
    }
    .nav-old-item-user-img-container.visible {
        display: none;
    }
    /* img.logo.show {
        top: 17px;
        left: 0px;
        filter: brightness(0.3);
        z-index: 6;
    }
    img.logo.hide {
        top: 17px;
        left: 0px;
        filter: brightness(1);
        z-index: 6;
    }
    img.logo.not-home {
        position: absolute;
    } */
    ul.nav-old-links.black.not-home {
        background-color: beige;
        border-bottom: none;
    }
    .nav-old-list-container {
        background-color: beige;
        width: 100%;
        height: 120%;
        position: absolute;
        right: 0px;
        opacity: 1;
        z-index: 5;
        left: 0px;
        transition: 0.2s;
    }
    .nav-old-list-container {
        top: 0px;
    }
    .nav-old-list-container.hide {
        /* display: none; */
        left: -200%;
    }
    .nav-old-links.black {
        top: 74px;
    }
    .reservedpage-content-container {
        padding-top: 55px;
    }
    .favorites-container {
        margin-top: 45px;
    }
    .request-page-container {
        margin-top: 125px;
    }
    .reservedpage-container {
        margin-top: 85px;
    }
    .reserved-container-none {
        padding-top: 0px;
    }
    .request-page-sub-container {
        padding-top: 0px;
    }
}

@media only screen and (max-width:400px) {
    .search-form-title {
        left: 6%;
        top: 42vh;
        font-size: 1.75rem;
    }
    .lists-section-container {
        width: 100vw;
        margin: 0px;
        /* margin-top: 10vh; */
        padding-left: calc((100vw - 348px)/2);
        padding-right: calc((100vw - 348px)/2);
    }
    .reccomended-headline {
        margin-top: 0px;
        /* margin-left: calc((100% - 3000px)/2); */
    }
    /* .reserve-form{
        position: absolute;
        width: 100vw;
        margin-left: 0px;
        left: 0px;
        top: 523px;
    }
    .main-content-text-container {

        padding-top: 405px;
    } */
}